<div class="container">
  <div id="navbar">
    <nav class="navbar navbar-inverse" role="navigation">
      <h1>Auction House</h1>

      <ul class="nav navbar-nav">
        <li>{{#link-to 'home'}}Home{{/link-to}}</li>
        <li>{{#link-to 'home'}}Category{{/link-to}}</li>
        <li>{{#link-to 'home'}}Register{{/link-to}}</li>
        <li>{{#link-to 'home'}}Contact{{/link-to}}</li>
      </ul>

    </nav>

  </div>

  {{outlet}}

</div>
