
<div class="row">
  <div class="col-md-12">
    <h2>Contact Information</h2>
    <hr />

    <br />

    <h4>Mailing Address: 42 Wallaby Way, Sydney</h4>
    <h4>Phone: 1-800-AUCTION</h4>
    <h4>Email: chief@auction-house.zom</h4>
  </div>
</div>
