
<div class="row">
  <div class="col-md-12">
    <h2>If you have any concerns or questions, our contact information is below:</h2>

    <h3>Mailing Address: 42 Wallaby Way, Sydney</h3>
    <h3>Phone: 1-800-AUCTION</h3>
    <h3>Email: chief@auction-house.zom</h3>
  </div>
</div>
