<h2><strong>Carlos München</strong></h2>

<hr />

<div class="row">
  <div class="col-md-4">
      {{#link-to 'lot'}}<img id="lot-image" src="../img/foil01.jpg" alt="Fold of Foil" /><p>God's Wish</p>{{/link-to}}
  </div>
  <div class="col-md-4">
      {{#link-to 'lot'}}<img id="lot-image" src="../img/foil02.jpg" alt="Circumference of Foil" /><p>Sphere of Victory</p>{{/link-to}}
  </div>
  <div class="col-md-4">
      {{#link-to 'lot'}}<img id="lot-image" src="../img/foil03.jpg" alt="Rounded Foil" /><p>Gem of the Chosen</p>{{/link-to}}
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-4">
      {{#link-to 'lot'}}<img id="lot-image" src="../img/foil04.jpg" alt="Circularized Foil" /><p>End of Innocence</p>{{/link-to}}
  </div>
  <div class="col-md-4">
      {{#link-to 'lot'}}<img id="lot-image" src="../img/foil05.jpg" alt="Ovaled Foil" /><p>The Dawn</p>{{/link-to}}
  </div>
  <div class="col-md-4">
      {{#link-to 'lot'}}<img id="lot-image" src="../img/foil06.jpg" alt="Compressed and Rounded Foil" /><p>Mother's Bosom</p>{{/link-to}}
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-4">
      {{#link-to 'lot'}}<img id="lot-image" src="../img/foil07.jpg" alt="Ballooned Foil" /><p>Furrowed Brow, Bended Knee</p>{{/link-to}}
  </div>
  <div class="col-md-4">
      {{#link-to 'lot'}}<img id="lot-image" src="../img/foil08.jpg" alt="Nested Foil" /><p>Making of Life</p>{{/link-to}}
  </div>
  <div class="col-md-4">
      {{#link-to 'lot'}}<img id="lot-image" src="../img/foil09.jpg" alt="Coupled Foil" /><p>Yin, Yan</p>{{/link-to}}
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-4">
    {{#link-to 'lot'}}<img id="lot-image" src="../img/foil10.jpg" alt="Bowled Foil" /><p>The Bowel of the Unknown</p>{{/link-to}}
  </div>
  <div class="col-md-4">
      {{#link-to 'lot'}}<img id="lot-image" src="../img/foil11.jpg" alt="Cupped Foil" /><p>Malory's Revenge</p>{{/link-to}}
  </div>
  <div class="col-md-4">
      {{#link-to 'lot'}}<img id="lot-image" src="../img/foil12.jpg" alt="Sculpted Foil" /><p>Roman Soldier</p>{{/link-to}}
  </div>
</div>
