<div class="row">
  <div class="col-md-12">
      {{#link-to 'lot'}}<center><img src="../img/carlos_munchen.jpg" alt="Jeff Bridges" /><p>Carlos München: Sculptor Extraordinaire</p></center>{{/link-to}}
  </div>
</div>
