<form>

  <div class="form-group">
      <label for="owner">User Name</label>
      {{input id="owner" class="form-control" value=owner}}
  </div>

  <div class="form-group">
      <label for="lot-name">Lot Name</label>
      {{input id="lot-name" class="form-control" value=lot-name}}
  </div>

  <div class="form-group">
      <label for="lot-value">Lot Value</label>
      {{input id="lot-value" class="form-control" value=lot-value}}
  </div>

  <div class="form-group">
      <label for="lot-category">Lots Category</label>
      {{input id="lot-category" class="form-control" value=lot-category}}
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-default">Submit</button>
  </div>

</form>
